.imgResponsive{
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 15px -3px rgb(0 0 0 / 7%), 0 10px 20px -2px rgb(0 0 0 / 4%);
}

.label{
    margin-left: -70%;
}